ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.float-left{
  float: left;
}
.float-right{
  float: right;
}

.error , .error1{
  color: red;
}

.dis-inline{
  display: inline-block;
}

.pd-10{
  padding: 10px;
}

.pl-10{
  padding-left: 10px;
}

.mt5{
  margin-top: 5px;
}

.mt10{
 margin-top: 10px;
}

.mb10{
  margin-bottom: 10px;
}


.ml-5{
  margin-left: 5px;
}

.ml-10{
  margin-left: 10px;
}

/* color */

.color_deeppink{
  color: deeppink;
}

.color_green{
  color: #348F34;
}

.color_red{
  color: #a92222;
}


/* Back ground color */
.bg-777{
  background-color: #777;
}

.bg-5bc0de{
  background-color: #5bc0de;
}

.bg-d8d6d3{
  background-color: #d8d6d3;
}

.select_box_province , .select_box_district{
  padding: 8px 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.font-11{
  font-size: 11px;
}

.font-12{
  font-size: 12px;
}

.font-13{
  font-size: 13px;
}

.font-14{
  font-size: 14px;
}

.disabled-a{
  pointer-events: none;
  color: #d3e0e9 !important;
}


/* For BreadCrumb boostrap*/

.breadcrumb{
 background-color: white;
}

/* For breadcrumb */

.breadcrumb-bg{
  background-color: white;
}