@charset "UTF-8";
/* YOUR CUSTOM CSS */
/*Fix body ko bị padding-right:17px nhảm*/
.modal-open {
    padding-right: 0px !important;
    overflow-y: scroll;
}
/*and fix fucking padding right*/
#menutabs
{
    background:#fff;
    margin-bottom:25px;
    height:41px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    border:1px solid #ededed
}
#menutabs .styled-select select
{
    background:0 0;
    width:115%;
    padding:7px 5px 5px 15px;
    border:0;
    border-radius:0;
    height:31px;
    margin:0;
    font-weight:600;
    font-size:11px;
    -moz-appearance:window;
    -webkit-appearance:none;
    cursor:pointer;
    color:#444;
    box-shadow:none
}
#menutabs .styled-select
{
    width:100%;
    overflow:hidden;
    height:36px;
    background:url(../img/arrow_down.svg) right center no-repeat;
    border:none;border-right:1px solid #ededed
}
/*
.tab-content
{
    padding:30px;
    background-color:#fff;
    border:1px solid #ddd;
    border-top:none;
    margin-bottom:25px;
    -webkit-border-bottom-right-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    -moz-border-radius-bottomright:3px;
    -moz-border-radius-bottomleft:3px;
    border-bottom-right-radius:3px;
    border-bottom-left-radius:3px
}
*/
#thanhtimkiem
{
    height: 2.4em;
    margin-left: -2.7em;
}
#nuttimkiem
{
    margin-left: -2.8em;
}

/*Custom thanh tab trong hình ảnh*/
.btn-load-more {
    text-align: center;
    clear: both;
    max-width: 1170px;
}
.btn-load-more a{
    display: inline-block;
    position: relative;
    background: #78cfcf;
    text-align: center;
    color: #fff;
    width: 100%;
    line-height: 35px;
    height: 35px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 2px;
    text-decoration: none;
}
.nav-picture{
    color: #FFFFFF;
    border: none;
    overflow: hidden;
    background: #ddd;
    z-index: 1;
    padding: 0;
    margin: 0 auto 20px;
    position: relative;
}
.nav-picture > li {
    float: left;
}
.nav-picture > li > a {
    color: #0b0b0b;
    line-height: 1.42857143;
    border: 1px solid transparent;
}
.nav-picture > li.active > a, .nav-picture > li.active > a:focus, .nav-picture > li.active > a:hover {
    color: #c00;
    border-bottom: #c00 1px solid;
    background: #fff;
}
.nav-picture >li a {
    float: left;
    padding: 15px 20px;
    font-size: 14px;
}
/*end custom tab trong modal*/
/*Sắp xếp hình ảnh trong modal*/
.list-inline-custom{
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}
.list-inline-custom > li {
    display: inline-block;
    padding-right: 5px;
}
/*end sắp xếp hình ảnh*/






/* Modal for comment*/

.modal-comment{
    background-color: #eee;
    padding: 10px;
}

.modal-comment .modal-content-left{
    float: left;
    width: 300px;
}

.modal-content-left .location-infor{
    margin: 10px 0;
}

.modal-content-left .location-infor .location-mark{
    font-size: 12px;
    padding: 10px;
    border-radius: 40px;
    background-color: #78cfcf;
    color: white;
    float: left;
}

.modal-content-left .location-infor .location-name{
    float: left;
    margin-left: 10px;
}

.modal-content-left .post-rating{
    border: 1px solid #ddd;
    background-color: white;
    padding: 10px;
}

.modal-content-left .post-rating ul.comment-info-number{
    list-style-type: none;
    margin: 5px 0;
}

.modal-content-left .post-rating ul.comment-info-number li{
    display: inline-block;
    text-align: center;
    padding: 0 8px;
}

.modal-content-left .post-rating ul.comment-info-number li>p{
    font-weight: bold;
}

.modal-comment .modal-content-right{
    float: left;
    width: 663px;
    margin-left: 15px;
}

.modal-content-right .tab-container{
    background-color: #ddd;
}

.modal-content-right ul.tab-comments{
    list-style-type: none;
}

.modal-content-right ul.tab-comments li{
   float: left;
    padding: 14px;
    font-size: 15px;
}

.modal-content-right ul.tab-comments li.active {
    color: #c00;
    background: #fff;
    border-bottom: 1px solid #c00;
}

.modal-content-right ul.tab-comments li:hover{
    color: #c00;
    background: #fff;
    border-bottom: 1px solid #c00;
    cursor: pointer;
}

.modal-content-right .wp-user-comment{
    overflow-y: scroll;
    height: 450px;
}

.modal-content-right .user-comment{
    margin: 10px 0;
    background-color: #fff;
    border-bottom: 1px solid #eee;
}

.modal-content-right .user-comment .user-mark{
    font-size: 12px;
    padding: 10px;
    border-radius: 40px;
    background-color: #78cfcf;
    color: white;
}

.modal-content-right .user-comment .comment-info{
    margin: 20px 0;
}

.modal-content-right .user-comment .comment-info .content-comment{
    margin: 10px 0;
}

.modal-content-right .user-comment .leave-comment ul.feature-comment{
    list-style-type: none;
}

.modal-content-right .user-comment .leave-comment ul.feature-comment li{
    display:inline-block;
    margin-right: 20px;
}

.modal-content-right .user-comment .show-all-like{
    background-color: #f9f9f9;
    color: #0780bf;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.modal-content-right .user-comment .show-all-comment{
    background-color: #f9f9f9;
}

.modal-content-right .user-comment .show-all-comment .user-comment-container{
    margin: 10px 0;
    width: 100%;
}

.modal-content-right .user-comment .show-all-comment .user-comment-container .comment-content{
    width: 90%;
    margin-top: 2px;
}